trigger:
  - master

name: 0.1.$(Build.BuildId)
  
pool:
    vmImage: 'ubuntu-latest'
  
steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '12.x'
    displayName: 'install node.js'

  - task: CmdLine@2
    inputs:
      script: 'sed -i -e ''s/\"version\": \"0.1.0\"/\"version\": \"0.1.$(Build.BuildId)\"/g'' package.json'
    displayName: 'set version number'
  
  - task: Npm@1
    inputs:
      command: 'install'
    displayName: 'npm install'
  
  - task: Npm@1
    inputs:
      command: 'publish'
      publishEndpoint: 'registry.npmjs.org'
    displayName: 'npm publish'
  
  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'run build'
    displayName: 'npm build styleguidist'

  - task: Docker@2
    inputs:
      containerRegistry: 'docker hub'
      repository: 'fellowworker/tgsp-shared-ui'
      command: 'buildAndPush'
      Dockerfile: '**/Dockerfile'
      buildContext: '_docker'
    displayName: 'docker build and push'
  
  - task: CopyFiles@2
    inputs:
      SourceFolder: 'dist'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
    displayName: 'copy to staging'
  
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
    displayName: 'publish artifacts'