# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'install node.js'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'src'
    Contents: '**'
    TargetFolder: '$(Agent.BuildDirectory)/_build'
  displayName: 'copy files'

- task: CopyFiles@2
  inputs:
    Contents: 'package.json'
    TargetFolder: '$(Agent.BuildDirectory)/_build'
  displayName: 'copy package.json'

- task: CopyFiles@2
  inputs:
    Contents: 'styleguide.config.js'
    TargetFolder: '$(Agent.BuildDirectory)/_build'
  displayName: 'copy styleguide.config.js'

- task: CmdLine@2
  inputs:
    script: 'sed -i -e ''s/src\///g'' styleguide.config.js'
    workingDirectory: '$(Agent.BuildDirectory)/_build'
  displayName: 'prepare styleguidist'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: '$(Agent.BuildDirectory)/_build'
  displayName: 'npm install'


- task: Npm@1
  inputs:
    command: 'publish'
    workingDir: '$(Agent.BuildDirectory)/_build'
    publishEndpoint: 'registry.npmjs.org'
  displayName: 'npm publish'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: '$(Agent.BuildDirectory)/_build'
    customCommand: 'run build-server'
  displayName: 'npm build styleguidist'

- task: CopyFiles@2
  inputs:
    SourceFolder: '_build/dist'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'copy to staging'


- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'publish artificats'