body, html {
	font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	margin:0;
	padding:0;
	background-color:#fafbfb;
}

body {
	-webkit-font-smoothing: antialiased;
    font-smooth: auto;
}